################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GanttChartWPF/bin/Debug
/.vs/GanttChartWPF/v16/Server/sqlite3
/.vs/GanttChartWPF/v16/.suo
